<mat-toolbar color="primary">
  <button
    mat-icon-button
    *ngIf="isSmallScreen$ | async"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1>My App</h1>
  <nav>
    <a mat-button routerLink="form" routerLinkActive="st-active">Form</a>
    <a mat-button routerLink="google" routerLinkActive="st-active">Google</a>
    <span class="cmp-theme-switcher">
      <mat-slide-toggle
        #darkTheme
        labelPosition="before"
        [checked]="isDark$ | async"
        (change)="onDarkModeChange($event)"
      >
        <ng-container [ngSwitch]="darkTheme.checked">
          <ng-container *ngSwitchCase="true">
            <mat-icon>dark_mode</mat-icon>
            <span class="cdk-visually-hidden">Dark Theme</span>
          </ng-container>
          <ng-container *ngSwitchDefault="">
            <mat-icon>light_mode</mat-icon>
            <span class="cdk-visually-hidden">Light Theme</span>
          </ng-container>
        </ng-container>
      </mat-slide-toggle>
    </span>
    <a
      mat-icon-button
      matTooltip="Github repository"
      href="https://github.com/camt-mmit/angular-material-example"
    >
      <mat-icon svgIcon="icons:github"></mat-icon>
    </a>
  </nav>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    [opened]="(isSmallScreen$ | async) === false"
    [mode]="(isSmallScreen$ | async) ? 'over' : 'side'"
    (click)="tryClose()"
  >
    <ng-template [cdkPortalOutlet]="portal$ | async"></ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
